@model EsibayeniSolution.Models.Order
@{
    //ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<br />
<br />
<br />
<hr />
<h2 class="title text-center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-5">
        <h4>Order Details</h4>
        <table class="table">
            <tr>
                <th width="140px">Order ID</th>
                <th>
                    @Html.DisplayFor(x => x.Order_ID)
                </th>
            </tr>
            <tr>
                <th>Date Requested</th>
                <th>
                    @Model.date_created.ToLongDateString()
                </th>
            </tr>
            <tr>
                <th>Delivery</th>
                <th>
                    @if (Model.shipped)
                    {
                        <i class="fa fa-check"></i>
                    }
                    else
                    {
                        <i class="fa fa-ellipsis-h"></i>
                    }
                </th>
            </tr>
            <tr>
                <th>Status</th>
                <th>
                    @Html.DisplayFor(x => x.status)
                </th>
            </tr>
        </table>
    </div>

    <div class="col-md-4">
        <h4>Delivery Details</h4>
        @{ EsibayeniSolution.Models.Order_Address address = (EsibayeniSolution.Models.Order_Address)ViewBag.Address; }
        @if (address != null)
        {
            <table class="table">
                <tr>
                    <td>Street</td>
                    <td>@address.street</td>
                </tr>
                <tr>
                    <td>City/Town</td>
                    <td>@address.city</td>
                </tr>
                <tr>
                    <td>Zipcode</td>
                    <td>@address.zipcode</td>
                </tr>
            </table>
        }
        else
        {
            <hr />
            <p>
                Collection at our Farm.
                <br />
                <i class="fa fa-map-marker"></i>  NHlazahle-Hlopheni, Ulundi, 3835
                <br />
                <i class="fa fa-clock-o"></i>  8:30 am - 17:00 working hours
                <br />
            </p>
        }
        @if (address != null)
        {

            <table>
                <tr>
                    <td>
                        <a href="@Url.Action("Order_Tracking", "Orders", new { id = Model.Order_ID })" class="btn btn-primary">
                            Track Order
                        </a>
                    </td>
                    @if (Request.IsAuthenticated && User.IsInRole("Sales Consultant"))
                    {

                        @*if (Model.status == "Awaiting Payment")
                        {
                            <td>
                                <a href="@Url.Action("PaymentReceived", "Orders", new { id = Model.Order_ID })" class="btn btn-primary">
                                    Payment Received
                                </a>
                            </td>
                        }*@
                        //else if (Model.status != "Awaiting Payment")
                        //{
                        //    if (Model.status == "At the Esibayeni Farm")
                        //    {
                        //        <td>
                        //            <a href="@Url.Action("Mark_As_Packed", "Orders", new { id = Model.Order_ID })" class="btn btn-primary">
                        //                Mark as Packed
                        //            </a>
                        //        </td>
                        //    }

                            @*else if (Model.status == "Collected")
                            {

                                <td>
                                    <a href="@Url.Action("schedulered", "Orders", new { id = Model.Order_ID })" class="btn btn-primary">
                                        Collected
                                    </a>
                                </td>


                            }*@
                            @*else if (Model.status == "Scheduled for delivery")
                            {

                                <td>
                                    <a href="@Url.Action("EnRoute", "Orders", new { id = Model.Order_ID })" class="btn btn-primary">
                                        En route for delivery
                                    </a>
                                </td>
                            }*@
                            @*else
                            {
                                <td>
                                    <a href="@Url.Action("Delivered", "Orders", new { id = Model.Order_ID })" class="btn btn-primary">
                                        Delivered
                                    </a>
                                </td>
                            }*@

                        //}


                    }
                </tr>
            </table>
        }
    </div>
</div>
<div class="row">
    <h4>Items in this Order</h4>
    <table class="table">
        <tr style="background:#f3f3f3">
            <th>
                Name
            </th>

            <th>
                Qty
            </th>
            <th>
                Price
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in (List<EsibayeniSolution.Models.Order_Item>)ViewBag.Order_Items)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Item.Code)
                </th>

                <th>
                    @Html.DisplayFor(modelItem => item.quantity)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.price)
                </th>
                <th>
                    @if (Model.status == "Delivered")
                    {
                        <a href="@Url.Action("Log_New","Exchange_n_Returns", new { id= Model.Order_ID,item_ID =item.LivestockID })" class="btn btn-default">
                            Return Item
                        </a>
                    }
                </th>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <th>@ViewBag.Total.ToString("R 0.00")</th>
        </tr>
    </table>
    <div class="row text-center">
        @if (User.IsInRole("Sales Consultant"))
            {
        <a class="btn btn-default" href="@Url.Action("Customer_Orders", "Orders")">
            <i class="fa fa-angle-left"></i>
            Back to List
        </a>
        }
            else
            {
        <a class="btn btn-default" href="@Url.Action("Order_History", "Orders")">
            <i class="fa fa-angle-left"></i>
            Back to List
        </a>

        }
    </div>
</div>



