@model EsibayeniSolution.Models.LivesStock

@{

    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<style type="text/css">
    .dl-horizontal {
        width: 800px;
        height: 500px;
        /*background-color: #008080;*/
        background-color: #2C3E50;
        margin: 0 auto;
        margin-top: 40px;
        padding-top: 10px;
        padding-left: 50px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        /*-o-border-radius: 15px;*/
        -moz-border-radius: 15px;
        color: white;
        font-weight: bold;
    }
</style>
@*<h2>Delete Livestock</h2>*@
<div class="box">
    <h2 class="title text-center"> Delete Livestock </h2>
</div>
@*<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Code) ?</h3>*@
<h3> Are you sure you want to delete @Html.DisplayFor(model => model.Code) ?</h3>
<div>
    @*<h4>Livestock</h4>*@
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Batch.BatchCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch.BatchCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd>
            <div class="row" style="text-align: center;padding-top:5px">
                @if (Model.Picture != null)
                {
                    var base64 = Convert.ToBase64String(inArray: Model.Picture);
                    var imgSrc = string.Format(format: "data:image/gif;base64,{0}", arg0: base64);
                    <img src="@imgSrc" width="90" height="70" />
                }
            </div>
            @*<img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
                AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
                    9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />*@
            @*<div class="col-md-4">
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Picture, 0, Model.Picture.Length)" style="width: 300px; height: 300px" alt="" />
                </div>*@
            @*@Html.DisplayFor(model => model.Picture)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPrice)
        </dd>
        <br />
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete Livestock" class="btn btn-danger" /> |
                @*@Html.ActionLink("Back", "Index")*@
            </div>
        }
    </dl>


</div>
