@model IEnumerable<EsibayeniSolution.Models.LivesStock>
@{
    ViewBag.Title = "Shopping";
      Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<br />
<br />
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 table-bordered" style="height:270px">
            <div class="row" style="text-align: center;padding-top:5px">
                @if (item.Picture != null)
                    {
                        var base64 = Convert.ToBase64String(inArray: item.Picture);
                        var imgSrc = string.Format(format: "data:image/gif;base64,{0}", arg0: base64);
                        <img src="@imgSrc" width="90" height="70" />
                    }
            </div>
            <div class="row">
                <p style="text-align: center">
                  Livestock  Code : @Html.DisplayFor(expression: modelItem => item.Code)
                </p>
                <p style="text-align: center">
                   Sex: @Html.DisplayFor(expression: modelItem => item.Sex)
                </p>
                <p style="text-align: center">
                    Weight:@String.Format("{0:F}", item.Weight.ToString("0.00 KG"))
                </p>
                <p style="text-align: center;font-size:large;">
                    @String.Format("{0:F}", item.SellingPrice.ToString("R0.00"))
                </p>
                <p style="text-align: center">
                    @if (item.addedtocart)
                    {
                        <a href="@Url.Action(actionName: "add_to_cart", controllerName: "Shopping", routeValues: new {id = item.LivestockID})" class="btn disabled btn-default"><i class="fa fa-shopping-cart disabled"></i> Out of stock</a>
                    }
                    else
                    {
                        <a href="@Url.Action(actionName: "add_to_cart", controllerName: "Shopping", routeValues: new {id = item.LivestockID})" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    }
                </p>
            </div>
        </div>
    }
</div>


@if (ViewBag.Err != null)
{

}