@model EsibayeniSolution.Models.MaintainanceStock

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
    <style type="text/css">
        .dl-horizontal {
            width: 800px;
            height: 500px;
            /*background-color: #008080;*/
            background-color: #2C3E50;
            margin: 0 auto;
            margin-top: 40px;
            padding-top: 10px;
            padding-left: 50px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            /*-o-border-radius: 15px;*/
            -moz-border-radius: 15px;
            color: white;
            font-weight: bold;
        }
    </style>

    <h3>Are you sure you want to delete this product type : @Html.DisplayFor(model => model.ProductCategory.ProductType) ?</h3>
<div>
    @*<h4>MaintainanceStock</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory.ProductType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.ProductType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.dateOfEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expirydate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expirydate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockPrice)
        </dd>
        <br/>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @*@Html.ActionLink("Back to List", "Index")*@
            </div>
        }
    </dl>

   
</div>
