@model EsibayeniSolution.Models.MaintainanceStock

@{
    ViewBag.Title = "Edit";
     Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<style type="text/css">
    .form-horizontal {
        width: 800px;
        height: 500px;
        /*background-color: #008080;*/
        background-color: #2C3E50;
        margin: 0 auto;
        margin-top: 40px;
        padding-top: 10px;
        padding-left: 50px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        /*-o-border-radius: 15px;*/
        -moz-border-radius: 15px;
        color: white;
        font-weight: bold;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>MaintainanceStock</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductID)

    <div class="form-group">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PCatID, "PCatID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PCatID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PCatID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Expirydate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Expirydate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Expirydate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StockPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StockPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StockPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
