@model EsibayeniSolution.Models.LivestockImage

@{
    ViewBag.Title = "Upload Livestock Image";
     Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
    <style type="text/css">
        .form-horizontal {
            width: 800px;
            height: 500px;
            /*background-color: #008080;*/
            background-color: #2C3E50;
            margin: 0 auto;
            margin-top: 40px;
            padding-top: 10px;
            padding-left: 50px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            /*-o-border-radius: 15px;*/
            -moz-border-radius: 15px;
            color: white;
            font-weight: bold;
        }
    </style>
<h2>Upload Livestock Image</h2>


@using (Html.BeginForm("Create", "LivestockImages", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Upload Livestock Image</h4>
        <hr />
        @Html.Raw(TempData["Message"])
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LivestockID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LivestockID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LivestockID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="image1" name="image1" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload Image" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
